In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
from imports import * 
from structured import *

Using TensorFlow backend.

In [3]:
import seaborn as sns
sns.set(color_codes=True)
np.random.seed(sum(map(ord, "distributions")))

In [4]:
from path import Path

In [5]:
PATH = Path('./data/')

In [6]:
! ls ./data

Category.csv
Category.csv.zip
ItemInfo_test.csv
ItemInfo_test.csv.zip
ItemInfo_train.csv
ItemInfo_train.csv.zip
ItemPairs_test.csv
ItemPairs_test.csv.zip
ItemPairs_train.csv
ItemPairs_train.csv.zip
Location.csv
Location.csv.zip

In [7]:
train_pairs = pd.read_csv(PATH / 'ItemPairs_train.csv')
test_pairs = pd.read_csv(PATH/'ItemPairs_test.csv')

In [8]:
train_iteminfo = pd.read_csv(PATH/'ItemInfo_train.csv')
test_iteminfo = pd.read_csv(PATH/'ItemInfo_test.csv')

In [9]:
locations = pd.read_csv(PATH/'Location.csv')
category = pd.read_csv(PATH/'Category.csv')

In [10]:
train_pairs.head()

   itemID_1  itemID_2  isDuplicate  generationMethod
0         1   4112648            1                 1
1         3   1991275            1                 1
2         4   1223296            0                 1
3         7   1058851            1                 1
4         8   2161930            1                 1

In [11]:
test_pairs.head()

   id  itemID_1  itemID_2
0   0         5   4670875
1   1         5    787210
2   2         6   1705280
3   3        11   3020777
4   4        23   5316130

In [12]:
train_iteminfo.head()

,itemID,categoryID,title,description,images_array,attrsJSON,price,locationID,metroID,lat,lon
0,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,30.815924
1,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",300000.0,639040,NaN,55.678037,37.256548
2,4,84,iPhone 3gs 8gb,"Телефон в хорошем состоянии, трещин и сколов н...","14384831, 6102021","{""Вид телефона"":""iPhone""}",3500.0,640650,NaN,56.239398,43.460458
3,7,84,Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской ap...",NaN,"{""Вид телефона"":""Другие марки""}",13500.0,662210,NaN,55.777170,37.586194
4,8,39,Лыжные ботинки,"Лыжные ботинки в хорошем состоянии, 34 размер","13718854, 4787310","{""Вид товара"":""Зимние виды спорта""}",500.0,624360,NaN,55.777170,37.586194

In [13]:
test_iteminfo.head()

,itemID,categoryID,title,description,images_array,attrsJSON,price,locationID,metroID,lat,lon
0,5,115,Сотрудничество салонам кухонной мебели,Сотрудничество салонам кухонной мебели.\nТребу...,NaN,"{""Вид услуги"":""Другое""}",NaN,637640,500292.0,55.760211,37.577211
1,6,10,Радар-детектор,Продам радар-детектор в идеальном состоянии!Пр...,NaN,"{""Вид товара"":""Аудио- и видеотехника""}",NaN,637160,NaN,59.645846,33.513035
2,11,101,Зарядка для ноутбука Lenovo,"Зарядное устройство для ноутбука Lenovo, (19v,...",5902524,"{""Вид товара"":""Комплектующие"", ""Тип товара"":""Б...",1300.0,650400,302.0,55.817608,49.097646
3,23,27,"Кожаная opигинaльнaя куpткa- ""косyxa"" -Roundtree",Бренд: Roundtree & Yorke®\nMoдель: Heritage ...,"2539979, 3952179, 4110540, 6059251, 6856110","{""Вид одежды"":""Мужская одежда"", ""Предмет одежд...",15000.0,637640,500769.0,55.827080,37.437604
4,30,10,Комплект R14,Кама евро 129 на штамповках. в нормальном сост...,"10263772, 614303, 6832721","{""Высота профиля"":""70"", ""Сезонность"":""Летние"",...",NaN,650400,42.0,55.750109,49.207735

In [15]:
locations.head()

   locationID  regionID
0      621551    621550
1      621552    621550
2      621553    621550
3      621554    621550
4      621555    621550

In [16]:
category.head()

   categoryID  parentCategoryID
0           9                 1
1          10                 1
2          11                 1
3          14                 1
4          19                 2

In [17]:
train_iteminfo = pd.merge(train_iteminfo, locations, left_on='locationID', right_on='locationID', how='left')

In [18]:
train_iteminfo.shape

(3344613, 12)

In [19]:
train_iteminfo = pd.merge(train_iteminfo, category, left_on='categoryID', right_on='categoryID', how='left')

In [20]:
train_iteminfo.shape

(3344613, 13)

Different generation method have different noise levels.

In [21]:
train_pairs = pd.merge(train_pairs, train_iteminfo, left_on='itemID_1', right_on='itemID', how='left')

In [22]:
train_pairs.head().T

,0,1,2,3,4
itemID_1,1,3,4,7,8
itemID_2,4112648,1991275,1223296,1058851,2161930
isDuplicate,1,1,0,1,1
generationMethod,1,1,1,1,1
itemID,1,3,4,7,8
categoryID,81,14,84,84,39
title,Продам Камаз 6520,Yamaha r6,iPhone 3gs 8gb,Xiaomi Mi4 3гб RAM + 16гб ROM белый,Лыжные ботинки
description,Продам Камаз 6520 20 тонн,Весь в тюнинге.,"Телефон в хорошем состоянии, трещин и сколов н...","Отличный подарок на новый год от ""китайской ap...","Лыжные ботинки в хорошем состоянии, 34 размер"
images_array,"1064094, 5252822, 6645873, 6960145, 9230265","11919573, 14412228, 3204180, 6646877","14384831, 6102021",NaN,"13718854, 4787310"
attrsJSON,"{""Вид техники"":""Грузовики""}","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...","{""Вид телефона"":""iPhone""}","{""Вид телефона"":""Другие марки""}","{""Вид товара"":""Зимние виды спорта""}"
price,300000,300000,3500,13500,500
locationID,648140,639040,640650,662210,624360
metroID,NaN,NaN,NaN,NaN,NaN
lat,64.6869,55.678,56.2394,55.7772,55.7772
lon,30.8159,37.2565,43.4605,37.5862,37.5862
regionID,648070,637680,640310,662000,624300
parentCategoryID,1,1,6,6,7

In [23]:
train_pairs = pd.merge(train_pairs, train_iteminfo, left_on='itemID_2', right_on='itemID', suffixes=('_ad1', '_ad2'), how='left')

In [24]:
train_pairs.head().T

,0,1,2,3,4
itemID_1,1,3,4,7,8
itemID_2,4112648,1991275,1223296,1058851,2161930
isDuplicate,1,1,0,1,1
generationMethod,1,1,1,1,1
itemID_ad1,1,3,4,7,8
categoryID_ad1,81,14,84,84,39
title_ad1,Продам Камаз 6520,Yamaha r6,iPhone 3gs 8gb,Xiaomi Mi4 3гб RAM + 16гб ROM белый,Лыжные ботинки
description_ad1,Продам Камаз 6520 20 тонн,Весь в тюнинге.,"Телефон в хорошем состоянии, трещин и сколов н...","Отличный подарок на новый год от ""китайской ap...","Лыжные ботинки в хорошем состоянии, 34 размер"
images_array_ad1,"1064094, 5252822, 6645873, 6960145, 9230265","11919573, 14412228, 3204180, 6646877","14384831, 6102021",NaN,"13718854, 4787310"
attrsJSON_ad1,"{""Вид техники"":""Грузовики""}","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...","{""Вид телефона"":""iPhone""}","{""Вид телефона"":""Другие марки""}","{""Вид товара"":""Зимние виды спорта""}"
price_ad1,300000,300000,3500,13500,500
locationID_ad1,648140,639040,640650,662210,624360
metroID_ad1,NaN,NaN,NaN,NaN,NaN
lat_ad1,64.6869,55.678,56.2394,55.7772,55.7772
lon_ad1,30.8159,37.2565,43.4605,37.5862,37.5862
regionID_ad1,648070,637680,640310,662000,624300
parentCategoryID_ad1,1,1,6,6,7
itemID_ad2,4112648,1991275,1223296,1058851,2161930
categoryID_ad2,81,14,84,84,39
title_ad2,Продам Камаз 6520,Yamaha R6,iPhone 3gs 32gb,Смартфон Xiaomi Mi4 3гб RAM + 16гб ROM белый,Ботинки для лыж
description_ad2,Продам Камаз 6520 20 тонн,Весь в тюнинге. Возможен торг,"В отличном состоянии, в комплекте зарядник и к...","Отличный подарок на новый год от ""китайской ap...","Ботинки 34 размер, в хорошем состоянии"
images_array_ad2,"1227519, 1374615, 7072137, 8671835","11068709, 13325040, 13783238, 206652, 9458537",5709245,7900519,"10053682, 986143"
attrsJSON_ad2,"{""Вид техники"":""Грузовики""}","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...","{""Вид телефона"":""iPhone""}","{""Вид телефона"":""Другие марки""}","{""Вид товара"":""Зимние виды спорта""}"
price_ad2,300000,330000,3500,13500,600
locationID_ad2,648140,639040,640650,662210,624360
metroID_ad2,NaN,NaN,NaN,NaN,NaN
lat_ad2,64.6869,55.678,56.2394,56.1355,55.7772
lon_ad2,30.8159,37.2565,43.4605,47.2355,37.5862
regionID_ad2,648070,637680,640310,662000,624300
parentCategoryID_ad2,1,1,6,6,7

In [25]:
train_pairs.drop('itemID_ad1', axis=1, inplace=True)
train_pairs.drop('itemID_ad2', axis=1, inplace=True)

In [27]:
train_pairs.head().T

,0,1,2,3,4
itemID_1,1,3,4,7,8
itemID_2,4112648,1991275,1223296,1058851,2161930
isDuplicate,1,1,0,1,1
generationMethod,1,1,1,1,1
categoryID_ad1,81,14,84,84,39
title_ad1,Продам Камаз 6520,Yamaha r6,iPhone 3gs 8gb,Xiaomi Mi4 3гб RAM + 16гб ROM белый,Лыжные ботинки
description_ad1,Продам Камаз 6520 20 тонн,Весь в тюнинге.,"Телефон в хорошем состоянии, трещин и сколов н...","Отличный подарок на новый год от ""китайской ap...","Лыжные ботинки в хорошем состоянии, 34 размер"
images_array_ad1,"1064094, 5252822, 6645873, 6960145, 9230265","11919573, 14412228, 3204180, 6646877","14384831, 6102021",NaN,"13718854, 4787310"
attrsJSON_ad1,"{""Вид техники"":""Грузовики""}","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...","{""Вид телефона"":""iPhone""}","{""Вид телефона"":""Другие марки""}","{""Вид товара"":""Зимние виды спорта""}"
price_ad1,300000,300000,3500,13500,500
locationID_ad1,648140,639040,640650,662210,624360
metroID_ad1,NaN,NaN,NaN,NaN,NaN
lat_ad1,64.6869,55.678,56.2394,55.7772,55.7772
lon_ad1,30.8159,37.2565,43.4605,37.5862,37.5862
regionID_ad1,648070,637680,640310,662000,624300
parentCategoryID_ad1,1,1,6,6,7
categoryID_ad2,81,14,84,84,39
title_ad2,Продам Камаз 6520,Yamaha R6,iPhone 3gs 32gb,Смартфон Xiaomi Mi4 3гб RAM + 16гб ROM белый,Ботинки для лыж
description_ad2,Продам Камаз 6520 20 тонн,Весь в тюнинге. Возможен торг,"В отличном состоянии, в комплекте зарядник и к...","Отличный подарок на новый год от ""китайской ap...","Ботинки 34 размер, в хорошем состоянии"
images_array_ad2,"1227519, 1374615, 7072137, 8671835","11068709, 13325040, 13783238, 206652, 9458537",5709245,7900519,"10053682, 986143"
attrsJSON_ad2,"{""Вид техники"":""Грузовики""}","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...","{""Вид телефона"":""iPhone""}","{""Вид телефона"":""Другие марки""}","{""Вид товара"":""Зимние виды спорта""}"
price_ad2,300000,330000,3500,13500,600
locationID_ad2,648140,639040,640650,662210,624360
metroID_ad2,NaN,NaN,NaN,NaN,NaN
lat_ad2,64.6869,55.678,56.2394,56.1355,55.7772
lon_ad2,30.8159,37.2565,43.4605,47.2355,37.5862
regionID_ad2,648070,637680,640310,662000,624300
parentCategoryID_ad2,1,1,6,6,7